.normal ellipse {
  stroke: var(--primary-fg);
}

.win ellipse {
  stroke: var(--secondary-fg);
}

.normal path {
  fill: var(--primary-fg);
}

.win path {
  fill: var(--secondary-fg);
}

.placeholder {
  display: flex;
  align-content: center;
  justify-content: center;
}
