.border-right {
  top: 144px;
  left: 385px;
  width: 480px;
  height: 480px;
  border-: 2px dashed #ffffff;
  border-radius: 46px;
  opacity: 0.11;
}

.normal ellipse {
  stroke: #ffffff;
}

.win ellipse {
  stroke: rgb(126, 202, 26);
}

.normal path {
  fill: #ffffff;
}

.win path {
  fill: rgb(126, 202, 26);
}

.placeholder {
  display: flex;
  align-content: center;
  justify-content: center;
}
