.item-enter {
  position: unset;
  opacity: 0;
}
.item-enter-active {
  position: absolute;
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  position: inherit;
  opacity: 1;
}
.item-exit-active {
  position: absolute;
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.logo {
  position: absolute;
  top: 47px;
  left: 68px;
  width: 42px;
  height: 58px;
}

@keyframes winEllipse {
  0% { 
    fill: var(--secondary-bg); 
    opacity: 0.3; 
  }
  33% { 
    fill: var(--secondary-fg); 
    opacity: 0.7; 
  }
  66% { 
    fill: var(--secondary-fg); 
    opacity: 1; 
  }
  100% { 
    fill: var(--primary-fg); 
    opacity: 1; 
  }
}

@keyframes winner {
  0% { 
    color: var(--primary-fg); 
  }
  100% { 
    color: var(--secondary-fg); 
  }
}

/* Animation utility classes */

.animate-winEllipse {
  animation: winEllipse 3s ease-in-out forwards;
}

.animate-winner {
  animation: winner 0.3s alternate-reverse infinite;
}
