.playerDiv {
  position: relative;
  height: 137px;
  width: 123px;
}

.detailFontStyle {
  font-size: 18px;
}

.playerRoundWins {
  position: absolute;
  display: flex;
  width: 123px;
  justify-content: space-between;
  bottom: -25px;
  left: 0px;
  height: 10px;
}

.playerRoundWins svg {
  stroke-width: 0;
  width: 10px;
  height: 10px;
}
.winEllipse {
  fill: var(--primary-fg);
}

.emptyEllipse {
  fill: var(--secondary-bg);
}

.playerRoundStatus {
  position: absolute;
  display: flex;
  width: 123px;
  justify-content: space-around;
  top: -50px;
  left: 0px;
}

.playerTurn {
  color: var(--secondary-fg);
  font-size: 21px;
}

.playerDraw {
  color: var(--primary-fg);
  font-size: 31px;
}

.playerWin {
  color: var(--secondary-fg);
  font-size: 31px;
}
