.arena{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
}

.arenaCenter{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    height:100%;
    position: relative
}

.arenaBelowCenter {
    position: absolute;
    bottom:0px;
}