.normal ellipse {
  stroke: var(--primary-fg);
}

.win ellipse {
  animation: strokeWin 0.3s alternate-reverse infinite;
  /* stroke: var(--secondary-fg); */
}

@keyframes strokeWin {
  0% {
    stroke: var(--primary-fg);
  }
  100% {
    stroke: var(--secondary-fg);
  }
}

@keyframes pathWin {
  0% {
    fill: var(--primary-fg);
  }
  100% {
    fill: var(--secondary-fg);
  }
}

.normal path, .normal text {
  fill: var(--primary-fg);
}

.win path, .win text {
  animation: pathWin 0.3s alternate-reverse infinite;
  /* fill: var(--secondary-fg); */
}

.placeholder {
  display: flex;
  align-content: center;
  justify-content: center;
}

.placeholder svg {
  width: 55%;
  height: 55%;
}
