.normal ellipse {
  stroke: var(--primary-fg);
}

.win ellipse {
  stroke: var(--secondary-fg);
}

@keyframes color {
  0% {
    fill: var(--primary-fg);
  }
  100% {
    fill: var(--secondary-fg);
  }
}

.normal path {
  fill: var(--primary-fg);
}

.win path {
  animation: color 0.3s alternate-reverse infinite;
  /* fill: var(--secondary-fg); */
}

.placeholder {
  display: flex;
  align-content: center;
  justify-content: center;
}

.placeholder svg {
  width: 55%;
  height: 55%;
}
