.outerborder {
  border: 2px dashed #ffffff;
  border-radius: 46px;
  padding: 1.25rem;
   /* opacity: 0.11; */
}

.gameTable {
  /* border: 1px solid #ffffff; */
  border-collapse: collapse;
  position: relative;
}

.linesContainer {
  position: absolute;
}


.dotted {
    stroke-dasharray: 10, 14;
    stroke-linecap: butt;
  stroke-width: 2px;
  stroke: #F5F5F5;
}

.row{
  display: flex;
  flex-direction: row;
}

.coinContainer {
  display: flex;
  justify-content: center;
  align-items:center;
}