@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

.App {
  text-align: center;
}

:root{
--primary-bg: #0B233F;
--secondary-bg: #253952;
--primary-fg: #FFFFFF;
--secondary-fg: #FB9E01;

--primary-fg-11: #FFFFFF1C;
--secondary-bg-43: #2539526E;
--primary-bg-43: #0B233F6E;
}


body {
  background: var(--primary-bg);
  color: var(--primary-fg);
  font-size: 18px;
}

.none{
  display: none;
}