.fullPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw);
  height: calc(100vh);
}

.centrePage {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  height: 100%;
}

.customCursor{
  cursor: url('../../../../resources/svgs/mouse.svg') 17 0, auto;
}
