.fullPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.centrePage {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  height: 100%;
  position: relative;
}

.customCursor{
  cursor: url('../../../../resources/svgs/mouse.svg'), auto;
}
